<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"></link>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"></link>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"></link>
<link rel="stylesheet" href="https://purecss.io/combo/1.18.13?/css/layouts/marketing.css"></link>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var me = '';
    var started = false;
    var owner = false;
    var players = new Set();
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        console.log('connected.');
        socket.emit('get_players')
    });
    socket.on('error', function(json) {
      console.log('Error: ' + json)
      iziToast.error({
          title: 'Error',
          message: json['msg']
      });
    });

    function addPlayer(player) {
      console.log(players)
      if (players.has(player)) return;
      var p = document.getElementById('players');
      var c = document.createElement('span');
      c.appendChild(document.createTextNode(player));
      p.appendChild(c);
      p.appendChild(document.createElement('br'));
      players.add(player);
    }

    function removePlayer(player) {
      if (!players.has(player)) return;
      var p = document.getElementById('players');
      for (var i = 0; i < p.childNodes.length; ++i) {
        if (p.childNodes[i].innerHTML === player) {
          p.removeChild(p.childNodes[i]);
          players.remove(player);
          return;
        }
      }
    }

    function leaveGame() {
      console.log('leaving');
      socket.emit('leave');
      window.location.href = window.location.protocol + '//' + document.domain + ':' + location.port;
    }

    function startGame() {
      console.log('starting');
      showStart(false);
      showEnd(true);
      socket.emit('start');
    }

    function startGame() {
      console.log('starting');
      showStart(false);
      showEnd(true);
      socket.emit('start');
    }

      function endGame() {
      console.log('ending');
      showStart(true);
      showEnd(false);
      socket.emit('end');
    }

    function showStart(show) {
      var e = document.getElementById('start');
      if (show) {
        e.removeAttribute('hidden');
      } else {
        e.setAttribute('hidden', '');
      }
    }

    function showEnd(show) {
      var e = document.getElementById('end');
      if (show) {
        e.removeAttribute('hidden');
      } else {
        e.setAttribute('hidden', '');
      }
    }

    socket.on('add_player', function(json) {
      console.log('add_player ' + json);
      if ('me' in json) me = json['me'];
      json['player'].forEach(function(player) {
        addPlayer(player);
      });
    });
    socket.on('del_player', function(json) {
      console.log('del_player ' + json);
      removePlayer(json['player']);
    });
    socket.on('owner', function(json) {
      var player = json['player'];
      console.log('owner ' + me + ' ' + player);
      if (me === player) {
        owner = true;
        showEnd(started);
        showStart(!started);
      }
      var p = document.getElementById('players');
      for (var i = 0; i < p.childNodes.length; ++i) {
        if (p.childNodes[i].innerHTML === player) {
          p.childNodes[i].style.fontWeight = 'bold';
          return;
        }
      }
    });
    socket.on('start', function(json) {
      var e = document.getElementById('game');
      if (json['victim']) {
        e.innerHTML = 'You are in a conspiracy! The victim is ' + json['victim'];
      } else {
        e.innerHTML = 'Find out if you are in a conspiracy!';
      }
      if (owner) {
        showStart(false);
        showEnd(true);
      }
      started = true;
    });
    socket.on('end', function() {
      var e = document.getElementById('game');
      e.innerHTML = '';
      if (owner) {
        showStart(true);
        showEnd(false);
      }
      started = false;
    });
    socket.on('kicked', function() {
      console.log('kicked');
      leaveGame();
    });
</script>
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Conspiracy</a>
    </div>
</div>
<div class="splash-container">
  <div class="splash">
    <p class="splash-head" id="game">
      Waiting for game to start.
    </p>
    <legend class="splash-subhead">Players</legend>
    <p class="splash-subhead" id="players">
    </p>
    <div id="controls" role="group">
      <button class="pure-button pure-button-active" onClick="leaveGame()">Leave</button>
      <button class="pure-button pure-button-active" id="start" onClick="startGame()" hidden>Start</button>
      <button class="pure-button pure-button-active" id="end" onClick="endGame()" hidden>End</button>
    </div>
  </div>
</div>
</body>
</html>
